<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Site</title>
</head>
<body>
<h1>Site TOP</h1>
<script>
  document.cookie =
          "Top-Site-Cookie=yayaya; Max-Age=84600; Path=/";
</script>

<iframe src="https://25d8-2401-e180-8832-4f39-647a-afb1-b0f6-f434.ngrok-free.app" width="600" height="400"></iframe>

<button onclick="window.location.href='https://25d8-2401-e180-8832-4f39-647a-afb1-b0f6-f434.ngrok-free.app';">
  Go to iFrame Site
</button>

<div id="data"></div>
</body>
</html>
